<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center" >
      <div class style="background-color: black;">
      <h1 style="color:tomato;"> Mission to Mars</h1>
      <p>Learn all about the Red Planet</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get the Latest Mars Data!</a></p>
    </div>
  </div>
   
  <div class="container-fluid">
    <h2>Latest Mars News</h2>
    <h3>{{mars.news_title | safe}}</h3>
    <h4>{{mars.news_p }}</h4>
  </div>
  <div class="container-fluid"></div>
  <h2>Featured Mars Image</h2>
  <img src= "{{mars.featured_image_url}}" alt="Mars photo"/>
</div>

 <div class="container-fluid" ></div>
  <h2>Mars Facts</h2>
  {{mars.results_table | safe}}
  </div>



      <div class="container-fluid">
      <h2>Mars Hemispheres</h2>

    <figcaption class= "figure-caption text-center"><h4>{{mars.title}}</h4></figcaption>
    <img class ="figure=img img-fluid my-1" src={{mars.img_url}}>
      </div>
  </div>

</body>

</html>
