<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <body style= "background-color: black;">
  <div class="container-fluid">
    <div class="jumbotron text-center" >
      <div class style="background-color: black;">
      <h1 style="color:tomato;"> Mission to Mars</h1>
      <p style="color:tomato;">Learn all about the Red Planet</p>
      <p><a class="btn btn-light btn-lg" href="/scrape" role="button">Get the Latest Mars Data!</a></p>
      
    </div>
  </div>
   
  <div class="container-fluid">
  <div class style="background-color: blanchedalmond;">
    <h2>Latest Mars News</h2>
    <h3>{{mars.news_title | safe}}</h3>
    <h4>{{mars.news_p }}</h4>
  </div>
</div>
  <div class="container-fluid"></div>
  <div style="background-color: blanchedalmond;">
  <h1><center>Featured Mars Image</center></h1>
  <p style="text-align:center;">
    <img src= "{{mars.featured_image_url}}" alt="Mars photo" style="width:500px;height:600px;"/>
  </p>
</div>
</div>

 <div class="container-fluid" ></div>
 <div style= "background-color: tomato;">
  <h1 style="color:black;"><center>Mars Facts</center></h1>
 
  <table style="display:grid;">
  <table style="width: 100px;">
  <table style="text-align: center;">
 {{mars.results_table | safe}}
  </table>
</table>

  </table>
  </p>
  </div>



      <div class="container-fluid">
        <div style="background-color: black;">
      <h2 style="color:tomato;"><center>Mars Hemispheres</center></h2>
      <h2 style="text-align: right;"></h2>
      {% for hemispheres in mars.hemispheres %}
    <figcaption class= "figure-caption text-center"><h4>{{hemispheres.title}}</h4></figcaption>
    <img class ="figure=img img-fluid my-1" src={{hemispheres.img_url}}>
    
    {% endfor %}
      </div>
      </div>
  </div>
</body>
</body>

</html>
